
.background{
    background-color:#e4eff4;
}

img {
    max-width: 20%; /* Ensure the image doesn't exceed its container's width */
    top: 30%;
    border-color: black;
    border-radius: 10%;
    padding-left: 5%;
    position: fixed;
    margin-right: 20px; /* Add some spacing between the image and text */
}
/* Define a class for the watermark */
.watermark {
    position: relative; /* Make sure the parent element has a non-static position */
}

/* Style the watermark text using ::before pseudo-element */
.watermark::before {
    content: "ABOUT ME"; /* Text for the watermark */
    position: fixed; /* Position it absolutely within the parent */
    top: 20%; /* Adjust vertical position as needed */
    left: 80%; /* Adjust horizontal position as needed */
    writing-mode: vertical-lr;
    text-orientation: upright;
    background-color:rgb(100, 2, 2);
    font-size: 40px; /* Adjust the font size */
    color:floralwhite; /* Adjust the color of the watermark text */
    pointer-events: none; /* Make sure the watermark doesn't interfere with user interactions */
}

 .heading1 {
    
    padding-left: 35%;
    color:maroon;
    font: italic small-caps bold 70px/1.5 Arial, sans-serif;
    
 }
 .heading2 {
    padding-left: 30%;
    font-family: cursive;
    
 }
 .text-border {
    position: fixed;
    padding-left: 30%;
    top:50%;
    left:30%;
    right: 30%;
    border: 2px double #090000; /* Border style and color */
    padding: 5px; /* Add padding around the name */
    background-color:#e4eff4;
    display:inline-block; /* Make the box inline with the text */
}
.contact {
    position: fixed;
    left: 6%;
    text-decoration-line: underline;
    color:midnightblue;
    font-family:italic sans-serif;
    top: 75%
}