/* Flexbox Part 1 */

#flex-section1 ul {
	list-style: none;
	display: flex;
	gap:50px;
	margin-left: 10px;
	margin-top: 0%;
	margin-bottom: 0%;

}

/* end Flexbox Part 1 */


/* Flexbox Part 2 */

#flex-section2 ul {
	display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

}

#flex-section2 li {
	flex: 1;
    min-width: 0;
    list-style: none;
}

#flex-section2 .item1 {
	order: 1;
}

#flex-section2 .item2 {
	order: 3;
}

#flex-section2 .item3 {
	order: 2;
}

/* end Flexbox Part 2 */


/* Flexbox Part 3 */

#flex-section3 .box {
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#flex-section3 .tags ul {
	list-style: none;
	display:flex;;
	flex-wrap: wrap;
	padding-left: 0;
	margin:0%;
}

/* end Flexbox Part 3 */


/* Grid Part 1 */

#grid-section1 .grid {
	display:grid;
	grid-template-columns: repeat(4,2fr);
    grid-auto-rows: 100px;
    gap: 20px;

}

/* end Grid Part 1 */


/* Grid Part 2 */

#grid-section2 .gridboxblue {
	order: 2;
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 4;
	z-index: 2;
}

#grid-section2 .gridboxred {
	order: 1;
	grid-row-start:2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 3;

}

/* end Grid Part 2 */


/* Grid Part 3 */

#grid-section3 .grid {
     display: grid;
	 grid-template-columns: 2fr 1fr; /* Two columns with a ratio of 2:1 */
     grid-template-rows: 100px 300px 100px; 
	 gap: 10px;
	 
}

#grid-section3 .box1 {
	order: 1;
	grid-column: span 3;
	grid-row: span 1;
}

#grid-section3 .box2 {
	order: 3;
	grid-column: span 2;
	
}

#grid-section3 .box3 {
	order: 2;
	grid-column: span 1;
}

#grid-section3 .box4 {
	order: 4;
	grid-column: span 3;
}

/* end Grid Part 3 */


/* Transition Part */

#transition-section .box a {
	display: inline-block;
	background-color: #ccc;
	color: #000;
	transition-duration: 3s;
	padding: 20px;
	text-decoration: none;
}

#transition-section .box a:hover {
	background-color: #cc0000;
	color: #fff;
	transition-duration: 0.5s;
}

/* end Transition Part */